<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/micronutrient?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">username</property>
    <property name="hibernate.connection.password">password</property>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/Province.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/QclLab.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/District.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/QclCollection.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/SpVisit.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/User.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/QclSample.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/Sp.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/Tehsil.hbm.xml"/>
    <mapping resource="com/ihsinformatics/micronutrient/model/pojos/DistrictLogisticSummary.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
